name: Deploy

on:
  push:
    tags:
      - [0-9]+.[0-9]+.[0-9]+

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Update CHANGELOG
        id: changelog
        uses: Requarks/changelog-action@v1
        with:
          token: ${{ secrets.MY_TOKEN }}
          tag: ${{ secrets.TAG }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: false
          name: ${{ secrets.TAG }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ github.MY_TOKEN }}

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ secrets.TAG }} [skip ci]'
          file_pattern: CHANGELOG.md